:root {
    --app-font: sans-serif;
    --app-font-size: 16px;

    --app-font-mono: monospace;

    --app-icon-fill: 0;

    --app-primary-color: black;
    --app-warn-color: red;

    font-family: var(--app-font);
    font-size: var(--app-font-size);
}

button {
    display: inline;
    flex-direction: row;
    align-items: center;

    padding: 4px;
    column-gap: 4px;

    font-weight: bold;
}

button > * {
    pointer-events: none;
}

input[tpye=number]
.app-cl-number {
    font-family: var(--app-font-mono);
    text-align: right;
}

.app-cl-dummy {
    visibility: hidden !important;
}

.app-primary {
    color: var(--app-primary-color)
}

.app-cl-warn {
    color: var(--app-warn-color);

    --app-icon-fill: 1;
}

.app-cl-warn:disabled {
    opacity: 0.25;
}

.app-cl-warn:not(:disabled) {
    --app-icon-fill:1;
}

.app-main-container,
.app-cmp-input-list {
    display: flex;
    flex-direction: column;
}

.app-cmp-input-container,
.app-cmp-input-container > label {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
}

.app-cmp-input-container > label {
    flex: 1 0 auto;
}

.app-cmp-input-title::after {
    content: '::';
    color: var(--app-primary-color);
    font-weight: bold;

    margin-left: auto;
    margin-right: 1ch;
}

.app-cmp-input-title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    width: 15ch;
}

.app-cmp-input-no {
    display: inline-block;
    flex-direction: row;
    margin-left: 1ch;
    margin-right: 1ch;

    width: 3ch;
}

.app-cmp-input,
.app-cmp-result {
    flex: 1 0 auto;
}

.app-cmp-result {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 2ch;
}